<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="{% url 'main:home' %}"><i class="fa-brands fa-searchengin"></i> Buscardor de objetos</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'main:home' %}"><i class="fa-solid fa-magnifying-glass fa-flip-horizontal"></i> Buscador</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'main:searches' %}"><i class="fa-solid fa-clock-rotate-left"></i> Mis busquedas</a>
                </li>
                {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'myadmin:adminhome' %}"><i class="fa-solid fa-folder-closed"></i> Explorador</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'main:logout' %}"><i class="fa-solid fa-power-off"></i> Cerrar Sesión</a>
                    </li>
                    {% if request.user.is_superuser %}
                        <li class="nav-item">
                            <a class="nav-link" href="/admin" target="_blank">Admin</a>
                        </li>
                    {% endif %}
                {% endif %}
            </ul>
        </div>
    </div>
</nav>