{% extends 'base/base.html' %}

{% block title %}Buscar{% endblock %}

{% block content %}
    <div class="container py-4">
        <h3>Hola {{request.user.username}}, ¿Qué deseas buscar?</h3>
        <form method="POST">
            <div class="input-group my-3">
                {% csrf_token %}
                <input type="text" class="form-control" name="query" placeholder="Ingresa el nombre del objeto que buscas" 
                    aria-label="Ingresa el nombre del objeto que buscas" aria-describedby="button-addon2" value="{{query}}">
                <button class="btn btn-primary" type="submit" id="btnSearch">Buscar</button>
            </div>
        </form>

        {% if query %}
            <div class="mt-1">
                <p>Se encontraron {{results|length }} resultados de busqueda</p>
                {% for r in results %}
                    <div class="card mb-3">
                        <div class="card-body pt-1 pb-3 px-3">
                            <a href="" class="fs-5">{{ r.name }}</a> <br>
                            <div class="px-3 text-muted">
                                {{ r.subcontainer.container.room.name }} > {{ r.subcontainer.container.name }} > {{ r.subcontainer.name }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}