{% extends 'base/base.html' %}
{% load static %}
{% load myTags %}

{% block title %}Admin{% endblock %}

{% block content %}
    <div class="container my-3">
        <h5 class="animate__animated animate__fadeInDown"><i class="fa-light fa-browser"></i> Manage</h5>
        <hr>
        <div class="row">
            {% for room in rooms %}
                <div class="col-6 col-lg-3">
                    <div class="card shadow my-3 animate__animated animate__fadeIn">
                        <img src="{% image_or_default room.photo %}" class="card-img-top" alt="Room photo">

                        <div class="card-body">
                            <h6 class="card-title">{{ room.name }}</h6>
                            <div class="text-center">
                                <a href="{% url 'myadmin:adminroom' room.id %}" class="card-link btn btn-outline-primary">
                                    <i class="fa-light fa-arrow-up-right-from-square"></i> Manage
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% if request.user.is_superuser %}
            <div class="text-center my-4">
                <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#formModal">
                    <i class="fa-light fa-plus"></i> Add room
                </button>
            </div>
        {% endif %}
    </div>

    <div class="modal fade" id="formModal" tabindex="-1" aria-labelledby="formModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="formModalLabel">Create new room</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="post" action="{% url 'myadmin:createroom' %}" enctype="multipart/form-data">
                    <div class="modal-body">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-12 mb-3">
                                <label for="name" class="form-label">Name</label>
                                <input type="text" class="form-control" id="name" name="name" placeholder="Name" required>
                            </div>
                            <div class="col-12 mb-3">
                                <label for="photo" class="form-label">Photo</label>
                                <input class="form-control" id="photo" name="photo" type="file" accept="image/*" ></input>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" onClick="this.form.submit(); this.disabled=true;">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}